---
import { DISCLOSURE_SHORT } from '../consts';
---
<div class="disc">
  <p><b>Affiliate disclosure:</b>&nbsp; {DISCLOSURE_SHORT} <a href="/affiliate-disclosure">Learn more</a>.</p>
</div>

<style>
  .disc {
    background: var(--ink);
    color: #CDD6CE;
    font-size: 12.5px;
    text-align: center;
    padding: 9px 16px;
    line-height: 1.5;
  }
  .disc p { margin: 0 auto; max-width: 1160px; }
  .disc b { color: #fff; font-weight: 600; }
  .disc a { color: #fff; text-decoration: underline; font-weight: 600; }
  @media (max-width: 640px) {
    .disc { font-size: 11.5px; text-align: left; }
  }
</style>
